<!DOCTYPE HTML>
<html>
    <head>
    	<title>Inventory</title>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<meta name="viewport" content="width=device-width, user-scalable=no" />
    	<meta name="apple-mobile-web-app-capable" content="yes" />
    	<%= stylesheet_link_tag 'main' %>
    	<script>
    	    window.addEventListener("load",function() {
              setTimeout(function(){
                window.scrollTo(0, 1);
              }, 0);
            });
        </script>
    </head>
    <body>
    	<div id="header">
    		<h1>Inventory</h1>
    		<span class="left"><a href="/" class="sprite home-icon"></a></span>
    		<span class="right"><a href="/inventories/new" class="sprite new-icon"></a></span>
    	</div>
    	<ul>
    		<% @inventories.each do |inventory| %>
    			<li>
    		    	<a href="/inventories/<%= inventory.id %>/edit" class="sprite edit-icon pad-right"></a>
    				<a class="category" href="/inventories/<%= inventory.id %>"><%= inventory.name %></a>
    			</li>
    		<% end %>
    	</ul>
    </body>
</html>