li.selector {
	padding: 14px 10px;
	height:19px;
	line-height:19px;
}

li.header {
    height: 30px;
    padding: 0;
    font-weight: bold;
}

li.header p {
	height: 15px;
	line-height: 15px;
	padding: 8px 2%;
	text-align: center;
}

li.header p.category {
    text-align: left;
}

li a {
	text-decoration: none;
}

li.budget {
    padding: 0;
    height: 35px;
    font-weight: normal;
}

li p {
	float: left;
	padding: 7px 2%;
	margin: 0;
	font-size: 12px;
}

li p.right {
	text-align: right;
}

li p.category {
	width: 27%;
}

li a p.category {
	color: #000000;
	text-decoration: none;
}

li p.budget,
li p.spent,
li p.remaining {
	width: 19%;
}

li p.negative {
    color: red;
}

li p.positive {
    color: green;
}