body {
	background: url(/images/full-background.jpg);
	font-family: 'Ubuntu', Helvetica, sans-serif;
	margin: 0;
}

div#header {
	color: #ddd;
	height: 60px;
	border-bottom: 1px solid #555;
	background-color: #333;
	opacity: 0.35;
}

div#header h1 {
	color: #ddd;
	font-size: 24px;
	font-weight: normal;
	padding-left: 17px;
}

div#header ul li {
	list-style: none;
	float: right;
	padding: 0 12px;
	margin: 0 5px;
	border-right: 1px solid #666;
	line-height: 24px;
}

div#header ul li:first-child {
	border-right: none;
	padding-left: 5px;
}

div#header ul li a {
	text-decoration: none;
	color: #ddd;
}

div#content ul {
	width: 850px;
	background-color: #fff;
	padding: 50px;
	margin: 0 auto;
	font-size: 22px;
	list-style: none;
	border-radius: 20px;
	overflow: auto;
}

div.form {
	width: 450px;
	margin: 0 auto;
}

div.form p .textarea {
	padding: 5px;
	width: 250px;
	height: 72px;
	font-size: 20px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border-color: #999;
	background-color: #eee;
}

div.form p .text-field,
div.form div .text-field {
	padding: 5px;
	width: 250px;
	height: 24px;
	font-size: 20px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background-color: #eee;
}

div.form p .select-box {
    margin: 0 10px;
    font-size: 20px;
    -moz-border-radius:6px;
	-webkit-border-radius:6px;
    border-radius: 6px;
    border-color: #999;
    height: 34px
}

div.form p .select-box.wide {
    width: 250px;
}

div.form p .checkbox {
	
}

div.form p label {
	color: #aaa;
	font-size: 18px;
}


.left {
	float: left;
}

.right {
	float: right;
}

.group {
	overflow: auto;
}

/* Button styles */
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
	background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
	background-color:#bddbfa;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa) );
	background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
	background-color:#80b5ea;
}.button:active {
	position:relative;
	top:1px;
}

.delete-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:normal;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #810e05;
}

.delete-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}

.delete-button:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
/* Button styles */


/* Login Page Styles */
div.paper {
	height: 450px;
	width: 550px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -225px;
	margin-left: -275px;
	box-shadow: 1px 1px 10px 0px #666;
}

div.login.v-center {
	text-align: center;
	background-color: #fff;
	font-size: 22px;
	list-style: none;
}

#login div.stack-bottom {
	-webkit-transform:rotate(1deg);
	-moz-transform:rotate(1deg);
}

#login div.stack-middle {
	-webkit-transform:rotate(-2deg);
	-moz-transform:rotate(-2deg);
}

body#login div#header {
	background: none;
	border: none;
	height: 90px;
	color: #666;
	opacity: 1.0;
}

body#login div#header h1 {
	text-shadow: 0px -1px 0px rgba(0,0,0,.5);
	font-size: 40px;
	color: #666;
	padding-top: 25px;
	font-family: 'Happy Monkey', cursive;
}
/* Login Page Styles */


/* Home Page Styles */
body#home div#content ul {
	background: none;
	height: 250px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -165px 0 0 -425px;
}

body#home div#content ul li {
	float: left;
	padding: 30px;
	text-align: center;
}

body#home div#content ul li a {
	text-decoration: none;
	color: #ccc;
}

body#home div#content ul li div.sprite {
	height: 140px;
	width: 140px;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fff), color-stop(1, #aaa) );
	background: -moz-linear-gradient( center top, ##fff 5%, #aaa 100% );
	border-radius: 25px;
	box-shadow: inset 0px 2px 0px 0px #DDD;
	margin-bottom: 15px;
}

body#home div#content ul li div.sprite.cart-icon {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
	background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
	box-shadow: inset 0px 2px 0px 0px #dcecfb;
}

body#home div#content ul li div.sprite.dollar-sign {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
}

body#home div#content ul li div.sprite.list-icon {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d) );
	background:-moz-linear-gradient( center top, #fc8d83 5%, #e4685d 100% );
}

body#home div#content ul li div.sprite.user-icon {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
}
/* Home Page Styles */