body {
	margin: 47px 0 0 0;
	padding: 0;
}

img {
    border: none;
}

#header {
	background: url("/images/header-bk.png") repeat-x;
	color: #ffffff;
	text-align: center;
	margin: 0;
	width: 100%;
	position: fixed;
	top: 0;
}

#header h1 {
	font-size: 20px;
	font-family: Helvetica;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	margin: 12px 90px;
	max-width: 99%;
}

#header div.fade-out {
    background: url(/images/header-fade.png);
    /*background: pink;*/
    width: 10px;
    height: 48px;
    position: absolute;
    right: 0;
    margin: -48px 90px 0 0;
}

#header a {
	color: #ffffff;
	text-decoration: none;
	font-family: Helvetica;
	font-size: 12px;
	line-height: 29px;
}

#header span.left {
	position: absolute;
	top: 15px;
	left: 10px;
}

#header span.left-2 {
	position: absolute;
	top: 15px;
	left: 45px;
}

#header span.right {
	position: absolute;
	top: 15px;
	right: 10px;
}

#header span.right-2 {
	position: absolute;
	top: 15px;
	right: 45px;
}

ul {
	font-size: 20px;
	font-family: Helvetica;
	font-weight: bold;
	color: black;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: white;
}

li {
	list-style-type: none;	
	border-bottom: 1px solid rgb(217,217,217);
	padding: 10px 10px 10px 10px;
	min-height:22px;
	line-height:22px;
}

li a img {
	padding: 0 5px;
}

li a img.delete {
    margin-bottom: -2px;
}

li a img.add-sub {
    margin-bottom: -2px;
}

li.application {
    line-height: 30px;
    height: 30px;
}

li.application a {
    text-decoration: none;
    color: #000;
    display: block;
}

li a.category {
	display: block;
	margin: -25px 0 0 40px;	  
	text-decoration: none;
	color: black;
}

li a.item {
	display: block;
	margin: -25px 0 0 75px;	  
	text-decoration: none;
	color: black;
}

li a.list-item {
    display: block;
    margin: -20px 0 0 40px;
	text-decoration: none;
	color: black;
}

li a.list-item.completed {
    text-decoration: line-through;
}

li span.right-align {
    float: right;
    padding: 0 5px;
}

li span.negative {
    color: #ff0000;
}

div.form {
	font-family: Helvetica;
	font-weight: bold;
	color: black;
	background-color: white;
	padding-top: 10px;
}

div.form p {
	padding-bottom: 12px;
	text-align: center;
}

div.form p .textarea {
	margin: 0 3%;
	padding: 5px;
	width: 90%;
	height: 72px;
	font-size: 20px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border: 2px solid #000;
	background-color: #eee;
}

div.form p .text-field {
	margin: 0 3%;
	padding: 5px;
	width: 90%;
	height: 24px;
	font-size: 20px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border: 2px solid #000;
	background-color: #eee;
}

div.form p .select-box {
    margin: 0 3%;
    font-size: 20px;
    border: 2px solid #000;
}

div.form p .select-box.wide {
    width: 90%;
}

div.form p.buttons {
	text-align: center;
	padding-top: 25px;
}

form.button_to,
div.form p.buttons + div {
	text-align: center;
}

div.form p.buttons input {
    font-size: 16px;
}

div.form p.delete input {
	width: 210px;
	background-color: #c00000;
}

input.delete-button {
	width: 220px;
}

li.quick-add {
	background-color: #aaa;
}

li form.add_subtract_form {
    font-weight: normal;
    font-size: 14px;
    margin: 0 auto;
    padding: 20px 0 5px 0;
    width: 350px;
    height: 70px;
    display: none;
}

li form.add_subtract_form .radio_group {
    float: left;
}

li form.add_subtract_form label {
    padding: 0 20px 10px 0;
}

li form.add_subtract_form label img {
    margin-bottom: -5px;
}

li form.add_subtract_form input[type=radio] {
    padding-right: 20px;
    margin-bottom: 10px;
}

li form.add_subtract_form input[type=text] {
    padding: 5px 1%;
    height: 24px;
	font-size: 20px;
    width: 80px;
    margin: 7px 20px 0 10px;
}

span.edit-mode {
	display: none;
}

li.quick-add input {
	padding: 5px 1%;
	width: 98%;
	height: 24px;
	font-size: 20px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background-color: #eee;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	color:#000;
	font-family:Verdana;
	font-size:15px;
	font-weight:normal;
	padding:6px 24px;
	text-decoration:none;
}

.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
	background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
	background-color:#77a809;
}

.button:active {
	position:relative;
	top:1px;
}

.delete-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:normal;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #810e05;
}

.delete-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}

.delete-button:active {
	position:relative;
	top:1px;
}
