body {
	margin: 47px 0 0 0;
	padding: 0;
}

img {
    border: none;
}

#header {
	background-image: linear-gradient(bottom, #212121 20%, #050505 44%, #2B2B2B 52%);
    background-image: -o-linear-gradient(bottom, #212121 20%, #050505 44%, #2B2B2B 52%);
    background-image: -moz-linear-gradient(bottom, #212121 20%, #050505 44%, #2B2B2B 52%);
    background-image: -webkit-linear-gradient(bottom, #212121 20%, #050505 44%, #2B2B2B 52%);
    background-image: -ms-linear-gradient(bottom, #212121 20%, #050505 44%, #2B2B2B 52%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #212121), color-stop(0.44, #050505), color-stop(0.52, #2B2B2B));
	color: #ffffff;
	text-align: center;
	margin: 0;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
}

#header h1 {
	font-size: 20px;
	font-family: Helvetica;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 12px 90px;
	max-width: 100%;
}

#header a {
	color: #ffffff;
	text-decoration: none;
	font-family: Helvetica;
	font-size: 12px;
	line-height: 29px;
}

#header span.left {
	position: absolute;
	top: 15px;
	left: 10px;
}

#header span.left-2 {
	position: absolute;
	top: 15px;
	left: 45px;
}

#header span.right {
	position: absolute;
	top: 15px;
	right: 10px;
}

#header span.right-2 {
	position: absolute;
	top: 15px;
	right: 45px;
}

ul {
	font-size: 20px;
	font-family: Helvetica;
	font-weight: bold;
	color: black;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: white;
}

li {
	list-style-type: none;	
	border-bottom: 1px solid rgb(217,217,217);
	padding: 10px 10px 10px 10px;
	min-height:24px;
	line-height:22px;
}

li a img {
	padding: 0 5px;
}

li a img.delete {
    margin-bottom: -2px;
}

li a img.add-sub {
    margin-bottom: -2px;
}

li a {
    text-decoration: none;
    color: #000;
    display: block;
}

li a.list-item.completed {
    text-decoration: line-through;
}

li span.right-align {
    float: right;
    padding: 0 5px;
}

li span.negative {
    color: #ff0000;
}

.pad-left {
    padding-left: 10px;
}

.pad-right {
    padding-right: 10px;
}


/* Form styles */
div.form {
	font-family: Helvetica;
	font-weight: bold;
	color: black;
	background-color: white;
	padding-top: 10px;
}

div.form p {
	padding-bottom: 12px;
	text-align: center;
}

div.form p .textarea {
	margin: 0 3%;
	padding: 5px;
	width: 90%;
	height: 72px;
	font-size: 20px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border-color: #999;
	background-color: #eee;
}

div.form p .text-field,
div.form div .text-field {
	margin: 0 3%;
	padding: 5px;
	width: 90%;
	height: 24px;
	font-size: 20px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background-color: #eee;
}

div.form p .select-box {
    margin: 0 3%;
    font-size: 20px;
    -moz-border-radius:6px;
	-webkit-border-radius:6px;
    border-radius: 6px;
    border-color: #999;
    height: 34px
}

div.form p .select-box.wide {
    width: 90%;
}

div.form p.buttons {
	text-align: center;
}

form.button_to,
div.form p.buttons + div {
	text-align: center;
}

div.form p.buttons input {
    font-size: 16px;
}

div.form p.delete input {
	width: 210px;
	background-color: #c00000;
}

input.delete-button {
	width: 220px;
}

li.quick-add {
	background-color: #aaa;
}

li form.add_subtract_form {
    font-weight: normal;
    font-size: 14px;
    margin: 0 auto;
    padding: 20px 0 5px 0;
    width: 350px;
    height: 70px;
    display: none;
}

li form.add_subtract_form .radio_group {
    float: left;
}

li form.add_subtract_form label {
    padding: 0 20px 10px 0;
}

li form.add_subtract_form label img {
    margin-bottom: -5px;
}

li form.add_subtract_form input[type=radio] {
    margin: 4px 20px 10px 1px;
    float: left;
}

li form.add_subtract_form input[type=text] {
    padding: 5px 1%;
    height: 24px;
	font-size: 20px;
    width: 80px;
    margin: 7px 20px 0 10px;
}

span.edit-mode {
	display: none;
}

input[type=checkbox].active-mode {
    float: left;
    margin-right: 12px;
    width: 20px;
    height: 20px;
}

li.quick-add input {
	padding: 5px 1%;
	width: 98%;
	height: 24px;
	font-size: 20px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background-color: #eee;
}

div#error_explanation {
    color: red;
    width: 75%;
    padding: 15px 0;
    margin: 0 auto;
}

div#error_explanation h2 {
    font-size: 20px;
}

div#error_explanation li {
    border: none;
    font-size: 18px;
    list-style-type: square;
    color: red;
    margin-left: 18px;
}
/* Form styles */


/* Button styles */
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	color:#000;
	font-family:Verdana;
	font-size:15px;
	font-weight:normal;
	padding:6px 24px;
	text-decoration:none;
}

.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
	background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
	background-color:#77a809;
}

.button:active {
	position:relative;
	top:1px;
}

.delete-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:normal;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #810e05;
}

.delete-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}

.delete-button:active {
	position:relative;
	top:1px;
}
/* Button styles */


/* Sprites styles */
.sprite { display: block; background: url('/images/icons-sprite.png') no-repeat; float: left; }
.money-envelope-icon { background-position: -10px -0px; width: 20px; height: 20px; }
.new-icon { background-position: -10px -30px; width: 20px; height: 20px; }
.add-sub-icon { background-position: -10px -60px; width: 20px; height: 20px; }
.money-bag-icon { background-position: -10px -90px; width: 20px; height: 20px; }
.delete-icon { background-position: -10px -120px; width: 20px; height: 20px; }
.cart-icon { background-position: -10px -150px; width: 20px; height: 20px; }
.back-icon { background-position: -10px -180px; width: 20px; height: 20px; }
.plus-icon { background-position: -10px -210px; width: 20px; height: 20px; }
.edit-icon { background-position: -10px -240px; width: 20px; height: 20px; }
.forward-icon { background-position: -10px -270px; width: 20px; height: 20px; }
.list-icon { background-position: -10px -300px; width: 20px; height: 20px; }
.minus-icon { background-position: -10px -330px; width: 20px; height: 20px; }
.home-icon { background-position: -10px -360px; width: 20px; height: 20px; }
.totals-icon { background-position: -10px -390px; width: 16px; height: 16px; }
.transactions-icon { background-position: -10px -416px; width: 16px; height: 16px; }
.budget-icon { background-position: -10px -442px; width: 16px; height: 16px; }
/* Sprites styles */


/* Budget styles*/
li.selector {
	padding: 14px 10px;
	height:19px;
	line-height:19px;
}

li.header {
    height: 30px;
    padding: 0;
    font-weight: bold;
}

li.header p {
	height: 15px;
	line-height: 15px;
	padding: 8px 2%;
	text-align: center;
}

li.header p.category {
    text-align: left;
}

li.budget {
    padding: 0;
    height: 35px;
    font-weight: normal;
}

li p {
	float: left;
	padding: 7px 2%;
	margin: 0;
	font-size: 12px;
}

li p.right {
	text-align: right;
}

li p.category {
	width: 27%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

li a p.category {
	color: #000000;
	text-decoration: none;
}

li p.budget,
li p.spent,
li p.remaining {
	width: 19%;
}

li p.negative {
    color: red;
}

li p.positive {
    color: green;
}
/* Budget styles */


/* Finance styles */
#nav {
    background-image: linear-gradient(bottom, #212121 20%, #050505 44%, #2B2B2B 52%);
    background-image: -o-linear-gradient(bottom, #212121 20%, #050505 44%, #2B2B2B 52%);
    background-image: -moz-linear-gradient(bottom, #212121 20%, #050505 44%, #2B2B2B 52%);
    background-image: -webkit-linear-gradient(bottom, #212121 20%, #050505 44%, #2B2B2B 52%);
    background-image: -ms-linear-gradient(bottom, #212121 20%, #050505 44%, #2B2B2B 52%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #212121), color-stop(0.44, #050505), color-stop(0.52, #2B2B2B));
	height: 50px;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1;
}

#nav ul {
	margin: 0;
	padding: 0;
}

#nav li {
    text-align: center;
	float: left;
	list-style-type: none;
	width: 29%;
	height: 36px;
	border: none;
	padding: 2px 0 0 0;
	-moz-border-radius: 7px;
    border-radius: 7px;
    margin: 7px 2%;
}

#nav li div {
	font-size: 10px;
	text-align: center;
	margin: 8px auto;
	float: none;
	width: 40px;
	padding-left: 20px;
	line-height: 15px;
}

#nav li.active {
	background-color:#333;
}

#nav li a {
	color: #ffffff;
	text-decoration: none;
}

#nav li a img {
	border: none;
	margin-bottom: -4px;
}

li.selector {
    text-align: center;
}

li input.reconcile {
    float: left;
    margin: 13px 13px 0 0;
    width: 20px;
    height: 20px;
}

li span.info {
    float: left;
}

li span.data {
    float: right;
    text-align: right;
}

li span.info span.to {
    font-weight: bold;
}

ul.trans-list {
    margin-bottom: 50px;
    font-weight: normal;
}

ul.trans-list li.transaction {
    font-size: 12px;
    min-height: 40px;
}

ul.trans-list li.transaction a {
    text-decoration: none;
    color: #000;
}

a.prev img, a.next img {
    margin-bottom: -2px;
}

a.prev {
    float: left;
    margin-left: 25px;
}

a.next {
    float: right;
    margin-right: 25px;
}
/* Finance styles */