body {
	margin: 47px 0 0 0;
	padding: 0;
}

body.list {
	padding: 1px 0;
	background-color: #64615e;
}

body.list ul {
	background-color: #64615e;
}

body.list ul li {
	border-radius: 6px;
	margin: 5px;
	background-color: #fff;
	border-bottom: none;
}

body.list ul li a {
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 80%;
}

body.list ul li a.sprite {
	width: 20px;
}

body.list ul li a.edit-icon {
	float: right;
}

body.list ul li.quick-add {
	background-color: #64615e;
	padding: 6px 0 10px 0;
}

img {
    border: none;
}

#header {
	background-image: linear-gradient(bottom, #212121 20%, #050505 44%, #2B2B2B 52%);
    background-image: -o-linear-gradient(bottom, #212121 20%, #050505 44%, #2B2B2B 52%);
    background-image: -moz-linear-gradient(bottom, #212121 20%, #050505 44%, #2B2B2B 52%);
    background-image: -webkit-linear-gradient(bottom, #212121 20%, #050505 44%, #2B2B2B 52%);
    background-image: -ms-linear-gradient(bottom, #212121 20%, #050505 44%, #2B2B2B 52%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #212121), color-stop(0.44, #050505), color-stop(0.52, #2B2B2B));
	color: #ffffff;
	text-align: center;
	margin: 0;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
}

#header h1 {
	font-size: 20px;
	font-family: Helvetica;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 12px 90px;
	max-width: 100%;
}

#header a {
	color: #ffffff;
	text-decoration: none;
	font-family: Helvetica;
	font-size: 12px;
	line-height: 29px;
}

#header span.left {
	position: absolute;
	top: 15px;
	left: 10px;
}

#header span.left-2 {
	position: absolute;
	top: 15px;
	left: 45px;
}

#header span.right {
	position: absolute;
	top: 15px;
	right: 10px;
}

#header span.right-2 {
	position: absolute;
	top: 15px;
	right: 45px;
}

ul {
	font-size: 20px;
	font-family: Helvetica;
	font-weight: bold;
	color: black;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: white;
}

li {
	list-style-type: none;	
	border-bottom: 1px solid rgb(217,217,217);
	padding: 10px 10px 10px 10px;
	min-height:24px;
	line-height:24px;
}

li a img {
	padding: 0 5px;
}

li a img.delete {
    margin-bottom: -2px;
}

li a img.add-sub {
    margin-bottom: -2px;
}

li a {
    text-decoration: none;
    color: #000;
    display: block;
}

li a.list-item.completed {
    text-decoration: line-through;
}

li span.right-align {
    float: right;
    padding: 0 5px;
}

li span.negative {
    color: #ff0000;
}

li span.indent {
	float: right;
	background-color: #eee;
	width: 35px;
	padding: 2px 4px;
	text-align: center;
	border-radius: 12px;
	font-weight: normal;
	font-size: 75%;
	box-shadow: inset 0 0 7px 0 #ccc;
	border: 1px solid #ccc;
	color: #888;
}

.pad-left {
    padding-left: 10px;
}

.pad-right {
    padding-right: 10px;
}


/* Form styles */
div.form {
	font-family: Helvetica;
	font-weight: bold;
	color: black;
	background-color: white;
	padding-top: 10px;
}

div.form p {
	padding-bottom: 12px;
	text-align: center;
}

div.form p .textarea {
	margin: 0 3%;
	padding: 5px;
	width: 90%;
	height: 72px;
	font-size: 20px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border-color: #999;
	background-color: #eee;
}

div.form p .text-field,
div.form div .text-field {
	margin: 0 3%;
	padding: 5px;
	width: 90%;
	height: 24px;
	font-size: 20px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background-color: #eee;
}

div.form p .select-box {
    margin: 0 3%;
    font-size: 20px;
    -moz-border-radius:6px;
	-webkit-border-radius:6px;
    border-radius: 6px;
    border-color: #999;
    height: 34px
}

div.form p .select-box.wide {
    width: 90%;
}

div.form p.buttons {
	text-align: center;
}

form.button_to,
div.form p.buttons + div {
	text-align: center;
}

div.form p.buttons input {
    font-size: 16px;
}

div.form p.delete input {
	width: 210px;
	background-color: #c00000;
}

input.delete-button {
	width: 220px;
}

li form.add_subtract_form {
    font-weight: normal;
    font-size: 14px;
    margin: 0 auto;
    padding: 20px 0 5px 0;
    width: 350px;
    height: 70px;
    display: none;
}

li form.add_subtract_form .radio_group {
    float: left;
}

li form.add_subtract_form label {
    padding: 0 20px 10px 0;
}

li form.add_subtract_form label img {
    margin-bottom: -5px;
}

li form.add_subtract_form input[type=radio] {
    margin: 4px 20px 10px 1px;
    float: left;
}

li form.add_subtract_form input[type=text] {
    padding: 5px 1%;
    height: 24px;
	font-size: 20px;
    width: 80px;
    margin: 7px 20px 0 10px;
}

span.edit-mode {
	display: none;
}

input[type=checkbox].active-mode {
    float: left;
    margin-right: 12px;
    width: 20px;
    height: 20px;
}

li.quick-add input {
	padding: 9px 2%;
	width: 96%;
	height: 24px;
	font-size: 20px;
	border-radius:5px;
	background-color: #444;
	border-color: #555;
	color: #fff;
}

div#error_explanation {
    color: red;
    width: 75%;
    padding: 15px 0;
    margin: 0 auto;
}

div#error_explanation h2 {
    font-size: 20px;
	margin: 0;
}

div#error_explanation li {
    border: none;
    font-size: 18px;
    list-style-type: square;
    color: red;
    margin-left: 18px;
	padding: 0;
}
/* Form styles */


/* Button styles */
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	color:#000;
	font-family:Verdana;
	font-size:15px;
	font-weight:normal;
	padding:6px 24px;
	text-decoration:none;
}

.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
	background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
	background-color:#77a809;
}

.button:active {
	position:relative;
	top:1px;
}

.delete-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:normal;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #810e05;
}

.delete-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}

.delete-button:active {
	position:relative;
	top:1px;
}
/* Button styles */


/* Sprites styles */
.sprite { display: block; background: url('/images/mobile-icons-sprite.png') no-repeat; float: left; }
.accounts-icon{ background-position: 0 10px; width: 16px; height: 16px; } 
.add-sub-icon{ background-position: 0 -36px; width: 20px; height: 20px; } 
.back-icon{ background-position: 0 -76px; width: 20px; height: 20px; } 
.budget-icon{ background-position: 0 -106px; width: 16px; height: 16px; } 
.cart-icon{ background-position: 0 -152px; width: 30px; height: 30px; } 
.categories-icon{ background-position: 0 -192px; width: 16px; height: 16px; } 
.checkmark-icon{ background-position: 0 -238px; width: 30px; height: 30px; } 
.delete-icon{ background-position: 0 -288px; width: 20px; height: 20px; } 
.dollarsign-icon{ background-position: 0 -328px; width: 30px; height: 30px; } 
.edit-icon{ background-position: 0 -378px; width: 20px; height: 20px; } 
.forward-icon{ background-position: 0 -418px; width: 20px; height: 20px; } 
.home-icon{ background-position: 0 -458px; width: 20px; height: 20px; } 
.minus-icon{ background-position: 0 -498px; width: 20px; height: 20px; } 
.new-icon{ background-position: 0 -538px; width: 20px; height: 20px; } 
.piggybank-icon{ background-position: 0 -578px; width: 30px; height: 30px; } 
.plus-icon{ background-position: 0 -628px; width: 20px; height: 20px; } 
.silhouette-icon{ background-position: 0 -668px; width: 30px; height: 30px; } 
.transactions-icon{ background-position: 0 -708px; width: 16px; height: 16px; } 
/* Sprites styles */

/* Homepage styles */
body#home ul li a {
	line-height: 30px;
}
body#home ul li div.icon {
	height: 30px;
	width: 30px;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fff), color-stop(1, #aaa) );
	background: -moz-linear-gradient( center top, ##fff 5%, #aaa 100% );
	border-radius: 6px;
	box-shadow: inset 0px 2px 0px 0px #DDD;
	margin-right: 10px;
	float: left;
}

body#home ul li div.blue-icon {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
	background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
	box-shadow: inset 0px 2px 0px 0px #dcecfb;
}

body#home ul li div.green-icon {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
}

body#home ul li div.red-icon {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d) );
	background:-moz-linear-gradient( center top, #fc8d83 5%, #e4685d 100% );
}

body#home ul li div.purple-icon {
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfbdfa), color-stop(1, #bc80ea) );
	background:-moz-linear-gradient( center top, #dfbdfa 5%, #bc80ea 100% );
}

body#home ul li div.orange-icon {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
}
/* Homepage styles */

/* Budget styles*/
li.selector {
	padding: 14px 10px;
	height:19px;
	line-height:19px;
}

li.header {
    height: 30px;
    padding: 0;
    font-weight: bold;
}

li.header p {
	height: 15px;
	line-height: 15px;
	padding: 8px 2%;
	text-align: center;
}

li.header p.category {
    text-align: left;
}

li.budget {
    padding: 0;
    height: 35px;
    font-weight: normal;
}

li p {
	float: left;
	padding: 6px 2%;
	margin: 0;
	font-size: 12px;
}

li p.right {
	text-align: right;
}

li p.category {
	width: 27%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

li a p.category {
	color: #000000;
	text-decoration: none;
}

li p.budget,
li p.spent,
li p.remaining {
	width: 19%;
}

li p.negative {
    color: red;
}

li p.positive {
    color: green;
}
/* Budget styles */


/* Finance styles */
#nav {
    background-image: linear-gradient(bottom, #212121 20%, #050505 44%, #2B2B2B 52%);
    background-image: -o-linear-gradient(bottom, #212121 20%, #050505 44%, #2B2B2B 52%);
    background-image: -moz-linear-gradient(bottom, #212121 20%, #050505 44%, #2B2B2B 52%);
    background-image: -webkit-linear-gradient(bottom, #212121 20%, #050505 44%, #2B2B2B 52%);
    background-image: -ms-linear-gradient(bottom, #212121 20%, #050505 44%, #2B2B2B 52%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #212121), color-stop(0.44, #050505), color-stop(0.52, #2B2B2B));
	height: 50px;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1;
}

#nav ul {
	margin: 0;
	padding: 0;
}

#nav li {
    text-align: center;
	float: left;
	list-style-type: none;
	width: 21%;
	height: 36px;
	border: none;
	padding: 2px 0 0 0;
	-moz-border-radius: 7px;
    border-radius: 7px;
    margin: 7px 2%;
}

#nav li div {
	font-size: 10px;
	text-align: center;
	margin: 0 auto;
	float: none;
	width: 40px;
	padding: 11px 0 0 20px;
	line-height: 15px;
	height: 25px;
}

#nav li.active {
	background-color:#333;
}

#nav li a {
	color: #ffffff;
	text-decoration: none;
}

#nav li a img {
	border: none;
	margin-bottom: -4px;
}

li.selector {
    text-align: center;
}

li input.reconcile {
    float: left;
    margin: 13px 13px 0 0;
    width: 20px;
    height: 20px;
}

li span.info {
    float: left;
	width: 70%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

li span.data {
    float: right;
    text-align: right;
}

li span.data span.actual,
li span.data span.reconciled {
	float: right;
}

li span.info span.to {
    font-weight: bold;
}

span.account-name {
	float: left;
	font-size: 20px;
	line-height: 40px;
}

ul.trans-list {
    margin-bottom: 50px;
    font-weight: normal;
}

ul.trans-list li.transaction {
    font-size: 12px;
    min-height: 40px;
}

ul.trans-list li.transaction a {
    text-decoration: none;
    color: #000;
}

a.prev img, a.next img {
    margin-bottom: -2px;
}

a.prev {
    float: left;
    margin-left: 25px;
}

a.next {
    float: right;
    margin-right: 25px;
}
/* Finance styles */