<!DOCTYPE HTML>
<html>
    <head>
    	<title>Toolbox</title>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<meta name="viewport" content="width=device-width, user-scalable=no" />
    	<link rel="apple-touch-icon" href="/images/toolbox.png" />
    	<%= stylesheet_link_tag 'main' %>
    	<script>
    	    window.addEventListener("load",function() {
              setTimeout(function(){
                window.scrollTo(0, 1);
              }, 0);
            });
        </script>
    </head>
    <body>
    	<div id="header">
    		<h1>Toolbox</h1>
    	</div>
    	<ul>
    		<li class="application"><a href="/inventories"><div class="sprite cart-icon pad-right"></div>Inventory</a></li>
    		<li class="application"><a href="/lists"><div class="sprite list-icon pad-right"></div>Lists</a></li>
    		<li class="application"><a href="/transactions"><div class="sprite money-bag-icon pad-right"></div>Finances</a></li>
    		<li class="application"><a href="/savings_accounts"><div class="sprite money-envelope-icon pad-right"></div>Savings Accounts</a></li>
    	</ul>
    </body>
</html>