<!DOCTYPE HTML>
<html>
    <head>
    	<title>Toolbox</title>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<%= stylesheet_link_tag 'full' %>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    </head>
    <body id="home">
    	<div id="header">
    		<h1 class="left">Toolbox</h1>
			<ul class="right">
				<li><a href="/logout">Logout</a></li>
				<li>Travis Foxley</li>
			</ul>
    	</div>
		<div id="content">
    		<ul>
	    		<li><a href="/inventories">
					<div class="sprite cart-icon pad-right"><img src="/images/cart-large.png"/></div>
					Inventory
				</a></li>
	    		<li><a href="/lists">
					<div class="sprite list-icon pad-right"><img src="/images/checkmark-large.png"/></div>
					Lists
				</a></li>
	    		<li><a href="/transactions">
					<div class="sprite dollar-sign pad-right"><img src="/images/dollar-sign-large.png"/></div>
					Finances
				</a></li>
	    		<li><a href="/savings_accounts">
					<div class="sprite savings-icon pad-right"><img src="/images/savings-large.png"/></div>
					Savings
				</a></li>
				<li><a href="/users">
					<div class="sprite user-icon pad-right"><img src="/images/silouette-large.png"/></div>
					Users
				</a></li>
	    	</ul>
		</div>
    </body>
</html>