<!DOCTYPE HTML>
<html>
    <head>
    	<title>Toolbox</title>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<meta name="viewport" content="width=device-width, user-scalable=no" />
		<link rel="apple-touch-icon" href="/images/toolbox.png" />
    	<%= stylesheet_link_tag 'mobile' %>
    </head>
    <body id="home">
    	<div id="header">
    		<h1>Toolbox</h1>
    	</div>
    	<ul>
    		<li class="application"><a href="/inventories"><div class="blue-icon icon"><div class="sprite cart-icon"></div></div>Inventory</a></li>
    		<li class="application"><a href="/lists"><div class="red-icon icon"><div class="sprite checkmark-icon"></div></div>Lists</a></li>
    		<li class="application"><a href="/categories"><div class="green-icon icon"><div class="sprite dollarsign-icon"></div></div>Finances</a></li>
    		<li class="application"><a href="/savings_accounts"><div class="purple-icon icon"><div class="sprite piggybank-icon"></div></div>Savings</a></li>
			<li class="application"><a href="/users"><div class="orange-icon icon"><div class="sprite silhouette-icon"></div></div>Users</a></li>
    	</ul>
    </body>
</html>